<?xml version="1.0" encoding="UTF-8"?>
<impact customer="medknow">
    <project type="journals">
        <pages name="pages"/>
        <dialogs name="ModuleDialogs">
            <functionality name="GuideTour" show="true" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true"/>
            <functionality name="AlertDialogModule" show="true" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true"/>
            <functionality name="WordCountDialog" show="true" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true"/>
            <functionality name="NoteDialogModule" show="true" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true">
                <deleteIcon_CMD name="COMMEND" show="false" renumber="false" showSameUser="true" panelOrder="label" dataKey="comment" showForCoRole="false" showForED="true" deleteAll="true"/>
                <deleteIcon_QRY name="QUERY" show="false" renumber="false" showSameUser="true" panelOrder="editor" dataKey="query" showForCoRole="false" deleteAll="false"/>
                <quick name="QUERY_QUICK_REPLY" dataKey="quick_reply" items="OK" AddCmd="true"/>
            </functionality>
            <functionality name="trackDialogModule" show="true" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true">
                <dialog-body name="dialog-body" show="true" showTrackView="false"/>
                <btnAcceptTrack name="btnAcceptTrack" show="true" showForAU="false" showTrackView="false"/>
                <btnRejectTrack name="btnRejectTrack" show="true" showForAU="false" showTrackView="false" showSameUser="true"/>
                <OptionsList name="OptionsList" show="true" findshowTrackPage="true"/>
                <trackListGroup name="trackListGroup" show="true" findshowTrackPage="true"/>
            </functionality>
            <functionality name="sendMailDialogModule" show="true" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true"/>
            <functionality name="LinkShareDialog" show="true" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true" showForCoRole="false"/>
            <functionality name="AuthorGroupNewModule" show="true" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true"/>
            <functionality name="AuthorEditDialog" show="true" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true"/>
            <functionality name="CrossCitationModule" show="true" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true"/>
            <functionality name="SymbolsDialog" show="true" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true"/>
            <functionality name="ApplyStyleDialog" show="true" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true"/>
            <functionality name="PI_MODULE" alt-name="InsertPI" show="false"/>
            <functionality name="InsertFloatDialogNew" show="true"/>
            <functionality name="InsertNotesGroup" show="true"/>
            <functionality name="NotesGroupDialog" show="true"/>
            <functionality name="ImageAnnotateDialogModule" show="false"/>
            <functionality name="GrayscaleDialog" show="true"/>
            <functionality name="xToolTip" show="true"/>
            <functionality name="DocumentRestoreDialog" show="true"/>
            <functionality name="shareInviteDialogModule" show="true"/>
            <functionality name="FinalizingDialog" show="true" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true"/>
            <functionality name="StylePanelDialog" show="true" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true"/>
            <functionality name="ApplyHyperLinkDialog" show="true"/>
            <functionality name="internal-validation" show="true"/>
            <functionality name="SupplimentaryDialog" show="true" default-invoke="true"/>
            <functionality name="SuppMaterialModule" show="true" default-invoke="true"/>
            <functionality name="REF_SORT_DIALOG" show="true" showForAU="true" showForCO="true" showForCE="false" showForPM="false" showForED="true" showForJM="false" showForPR="false"/>
            <functionality name="MultiRefDialog" show="true" showForAU="true" showForCO="true" showForCE="true" showForPM="true" showForED="true" showForJM="true" showForPR="true"/>
        </dialogs>
        <menuoption type="menuOptions">
            <functionality name="helpGroup" showTrackView="false" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true" showForCoRole="true"/>
            <functionality name="faqGroup" showTrackView="false" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true" showForCoRole="true"/>
            <functionality name="TipsTricks" showForAU="false" showForCO="false" showForCE="false" showForPM="false" showForED="false" showForJM="false" showForPR="false" showForCoRole="false"/>
            <functionality name="VideoTour" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true" showForCoRole="true" external-open="true"/>


            <functionality name="lTitleGroup" showTrackView="false" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true" showForCoRole="true"/>
            <functionality name="rTitleGroup" showTrackView="true" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true" showForCoRole="true"/>
            <functionality name="showRevisionBtn" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true" showForCoRole="true"/>
            <functionality name="Generate_XML" showForAU="false" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true" showForCoRole="true" ignoreUsers="true"/>
            <functionality name="Generate_HTML" showForAU="false" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true" showForCoRole="true"/>
            <functionality name="proof_pdf" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true" showForCoRole="true"/>
            <functionality name="i_track_pdf" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true" showForCoRole="true"/>
            <functionality name="ce_track_pdf" showForAU="false" showForCO="false" showForCE="false" showForED="false" showForJM="false" showForPR="false" showForCoRole="false"/>
            <functionality name="restoreHTML" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true" showForCoRole="true"/>
            <functionality name="ShowTrackOnly" showForAU="false" showForCO="false" showForCE="false" showForPM="false" showForED="false" showForJM="false" showForPR="false" showForCoRole="false"/>
            <functionality name="showSpellDiv" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true" showForCoRole="true"/>
            
            
            <functionality name="shareFileBtn" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true" showForCoRole="false"/>
            <functionality name="finalize" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true" showForCoRole="true"/>
            <functionality name="StylePanelDialog" show="true" showForAU="true" showForCO="true" showForCE="true" showForED="true" showForJM="true" showForPR="true"/>
            <functionality name="GenaratePDF" showForAU="false" showForCO="false" showForCE="false" showForJM="false" showForPR="false" showForCoRole="false" showForPM="false" showForED="false"/>
            <functionality name="ChangeCaseMenu" showForAU="false" showForCO="false" showForCE="false" showForPM="false" showForED="false" showForJM="false" showForPR="false" showForCoRole="false"/>
        </menuoption>
        
    </project>
</impact>